.mainContainer {
    padding: 20px;
    max-width: 1830px;
    margin: 0 auto;
}

.mainContainer div {
    margin: 20px auto;
}

@media (min-width: 769px) {

    .mainContainer > div {
        display: flex;
        flex-wrap: wrap;
    }

}

